/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/07/2021, 09:30:34 PM
    Author     : ALEJO
*/



.titulo{
    color:#0099ff;
    text-align: center;
    font-weight: bold;
    
}
.conten{
    
    width: 400px;
    background-color: #0099ff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri' ;
    color: white;
    box-shadow: 7px 13px 37px #000;
 
  
    
}
